#exemplo1{
    background-color: green;
    color: #fff;
    width: 500px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
}

#exemplo2{
    background-color: green;
    color: #fff;
    width: 500px;
    padding: 10px 20px 30px 30px;
}

#exemplo3{
    background-color: red;
    color: #fff;
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#exemplo4{
    background-color: red;
    color: #fff;
    width: 500px;
    margin: 20px 20px 10px 20px;
}