<<<<<<< HEAD:Aula-02/css/style.css
 *{
=======
*{
>>>>>>> parent of 00edfef... Aula 05:modulo-01/css/style.css
    margin: 0;
    padding: 0;
}

input[type = "text"]{
    width: 200px;
    height: 35px;
    border: none;
    background-color: #ccc; 
}

input[type = "email"]{
    width: 200px;
    height: 35px;
    border: none;
    background-color: #ccc; 
}

input[type = "submit"]{
    width: 50px;
    height: 35px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: green; 
}

h3{
    color: blue;
    font-size: 60px;
    font-family: tahoma;
<<<<<<< HEAD:Aula-02/css/style.css
} 
=======
}
>>>>>>> parent of 00edfef... Aula 05:modulo-01/css/style.css
